	<div growl></div>
	
	<div class="ng-cloak">
		<div class="generic-container">
	          <div class="panel panel-default">
	                <!-- Default panel contents -->
	               <div  class="panel-heading lead" style="padding-bottom:50px;">
	              		<form id="searchbox"  >
	              				<span id="headerCandidateList">
	              					 <select name="filterType" id="filterType" class = "form-control" ng-model="filterType" >
						 				<option value="">Filter Type</option>
						 				<option value="ByDate">By Date</option> 
						 				<option value="Status">Application Status</option>
						 				<option value="candidate">Name, surname, IDNO</option>
						 			</select>
	              				 </span> 
				  				<span  id="buttonSearch"  ng-if="filterType === 'Status' || filterType === ''">
                            		<input id="search" type="text" ng-model="search.applicationList.applicationStatus"  placeholder="Search or filter out Candidates">
                            		<input id="submit" type="submit" ng-click="showSuccess()" value="Search">
                       			</span>
                       			
                       			<span  id="buttonSearch"  ng-if="filterType === 'candidate'">
                            		<input id="search" type="text" ng-model="search" ng-false-value=""  placeholder="Search or filter out Candidates">
                            		<input id="submit" type="submit" ng-click="showSuccess()" value="Search">
                       			</span>
                       			
                       			<span  id="buttonSearch"  ng-if="filterType === 'ByDate'">
                       				<label for="sdate">Start Date</label>
                       				 <md-datepicker  name = "sdate" id ="sdate" 
     			 					 ng-model="filter.startDate" ng-change ="filter.startDate"  md-placeholder="mm/dd/yyyy"> </md-datepicker> 
     			 					 
     			 					 <label for="edate">End Date</label>
                       				 <md-datepicker type="text" name = "edate" id ="edate" 
     			 					 ng-model="filter.endDate" ng-change ="filter.endDate"  md-placeholder="mm/dd/yyyy"></md-datepicker>  
     			 					 <span>{{startDate}} {{endDate}}</span>
                       			</span>
                       			
                       </form> 
                  </div>
	                <div class="tablecontainer">
	                  <table class="table table-condensed" >
	                      <thead>
	                          <tr>
	                             <th>Applications</th>
	                              <th>Name</th>
	                              <th>Surname</th>
	                              <th>ID NO</th>
	                              <th>EE Status</th>
	                              <th width="5%"></th>
	                             
	                          </tr>
	                      </thead> <!-- | filter : search   -->
	                      <tbody  ng-repeat="u in inCtrl.candidateList | filter : search  | filterByDate: filter.startDate : filter.endDate" >
	                          <tr>
	                          	  	<p data-ng-show=" (inCtrl.candidateList | filter: search).length==0">There are no results for this search</p>
	                          	  <td class="clikable">
		                          	 <span ng-click="this.manageCollapseExpand(u, false)" 
		                          	  ng-class="{'glyphicon glyphicon-minus': u.expanded, 'glyphicon glyphicon-plus': !u.expanded }"> 
		                          	 </span>
	                          	  </td>
	                              <td><span> {{u.firstname}}</span></td>
								  <td><span> {{u.surname}}</span></td>
	                              <td><span> {{u.idNo}}</span></td>
	                              <td><span> {{u.eeStatus}}</span></td>
	                              
	                              <td class="btn-group"> 
	                              	<label class="btn btn-primary btn-sm"> 
	                              	<input type="radio" ng-click="inCtrl.removeCandidate(candidate.selected.candidateId)" 
	                              	ng-model="candidate.selected" ng-value="u" id="{{u}}" 
	                              	name="selected" autocomplete="off" /><i class="fa fa-trash-o fa-fw"></i>Delete</label>
	                           	</td>
	                        </tr>
	                     	<tr>
					         
					         	<td colspan="12" class="hiddenRow">   
					            	<div ng-show="u.expanded">
					            		<div class="collapse-feature-list">
						            		 <table class="table table-striped">
	                      						<thead>
	                      							<tr> 
	                      								<th>View more info</th>
	                      								<th>Application Status</th>
	                      								<th>Date</th>
	                      							</tr>
	                      						</thead>
	                      						<tbody  ng-repeat =" app in u.applicationList">
	                      							<tr>
							                          	  
	                      								<td>
							                          	  	<label>
							                          	  		<input type="radio" ng-model="application.selected" ng-value="app" id="{{app}}"
							                          	  		ng-click="manageCollapseExpand(app, true)" name="selected" autocomplete="off" />
							                        			<span ng-class="{'glyphicon glyphicon-minus': app.expanded, 'glyphicon glyphicon-plus': !app.expanded }"></span>
							                          	  	</label>
	
	                      								</td>
	                   	 									
						                   	 			<td>
						                   	 				<span ng-if="!u.applicationList || !app.applicationStatus " ng-bind="'None'"> </span>
						                   	 				<span ng-if="app.applicationStatus !== null"> {{app.applicationStatus}} </span>
						                   	 			</td>
						            	                
						            	                <td>
						            	                	<span ng-if="!u.applicationList || !app.applicationDate" ng-bind="'None'"> </span>
						                        			<span ng-if="app.applicationDate !== null "> {{app.applicationDate |  date : 'MM/dd/y'}}</span>
						                        		</td>
						                        		
	                             					 <td class="btn-group" > 
					                              		<label class="btn btn-primary btn-sm"> 
					                              			<input type="radio" 
					                               			ng-model="application.selected" ng-value="app" ng-click="inCtrl.editCandidate(application.selected)"
					                              			autocomplete="off" /><i class="fa fa-pencil fa-fw"></i>Edit
					                              		</label>
					                              	</td>
	  					                           	 <td class="btn-group"> 
						                               <label class="btn btn-primary btn-sm">
						                               <input type="radio" ng-click="inCtrl.applicationBean(application.selected,$event)" 
						                               ng-model="application.selected" ng-value="app" id="{{app}}" name="selected" autocomplete="off" 
						                               data-toggle="modal" data-target="#comment" /><i class="fa fa-comment" aria-hidden="true"></i>
						                               Comment</label>
			                              		 	</td>
	                      						</tr>
	                      							
	                     						<tr>
	                   								<td colspan="12" class="hiddenRow">
	                   									<div ng-show="app.expanded">
														       <div class="panel-group">
													    			<div class="panel-heading text-center ">
													    			 <span class="lead" >Application Info</span>
													    			 
													    			 </div>
														     		<div style="float: left; width:40%; padding:10px;">
																       	<div class="panel panel-primary">
																       		<div class="panel-heading">Application Details</div>
																       			<table class="table table-striped">
																       				<tbody>
																       					<tr>
																       						<th><span>Date Of Application : </span></th>
															                            	<td>
															                            		<span ng-if="application.selected" ng-bind="(application.selected.applicationDate) | date : 'MM/dd/y'"></span>
															                            		<span ng-if="!application.selected" ng-bind="'None'"></span>
															                            				
															                            	</td>
																						</tr>
																						<tr>
															                            	<th><span>Experience : </span></th>
															                            	<td>
															                            	
															                            		<span ng-if="application.selected" ng-bind="(application.selected.experience) +(' YEARS')"></span>
															                            		<span ng-if="!application.selected" ng-bind="'None'"></span>
															                            				
															                            	</td>
																       					</tr>
																       					 
																       					<tr>
																       						<th><span>Current Salary : </span></th>
															                            	<td>
															                            	
															                            		<span ng-if="application.selected" ng-bind="('R') + (application.selected.currentSalary)"></span>
															                            		<span ng-if="!application.selected" ng-bind="'None'"></span>
															                            		
															                            	</td>
																       					</tr>
																       					<tr>
																       						<th><span>Expected Salary  : </span></th>
															                            	<td>
															                            	
															                            		<span ng-if="application.selected" ng-bind="('R') + (application.selected.expectedSalary)"></span>
															                            		<span ng-if="!application.selected" ng-bind="'None'"></span>
															                            	
															                            	</td>
																       					</tr>
																       					<tr>
																       						<th><span>Application Status : </span></th>
															                            	<td>
															                            	
															                            		<span ng-if="application.selected" ng-bind="(application.selected.applicationStatus)"></span>
															                            		<span ng-if="!application.selected" ng-bind="'None'"></span>
															                            		
															                            	</td>
																       					</tr>
																       					<tr>
														       								<th><span>Agency Name: </span></th>
													                            			<td>
															                            		<span ng-if="(!application.selected || !application.selected.agency ||
															                            		 !application.selected.agency.agencyName )" ng-bind="'None'"></span>
													                            				<span ng-bind="application.selected .agency.agencyName"></span>
													             
													                            			</td>
													                            		</tr>
																       				</tbody>
																       			</table>	
																       				
													       						<table class="table table-hover">
													       							<thead>
													       								<tr ng-if="application.selected.qualificationList ">
													       									<th class="text-right no-float"><span> Candidate Qualifications </span></th>
													       								</tr>
													       							</thead>
													       							<tbody ng-repeat ="qualification in application.selected.qualificationList" >
													       								<tr>
														       								<th><span>Qualification Type : </span></th>
													                            			<td>
													                            				<span ng-bind="qualification.qualificationType"></span>
													                            				<span ng-if="qualification.qualificationType == ''" ng-bind="'None'"></span>
													                            			</td>
													                            		</tr>
													       								<tr>
													       									<th><span>Qualification Name : </span></th>
													                           				<td>
													                           					<span ng-bind="qualification.qualificationName"></span>
													                           					<span ng-if="qualification.qualificationName == ''" ng-bind="'None'"></span>
													                           				</td>
													                            		</tr>
													                            		<tr>
													       								</tr>
													       							</tbody>
													       						</table>
																       	</div>
															   </div>
															   <div style="float: left; width:40%; padding:10px;">
														       	  <div class="panel panel-primary">
														       		<div class="panel-heading">Comments</div>
														       			<table class="table table-hover">
														       				<tbody>
														       					<tr ng-repeat ="comment in maxAppObject.commentList">
														       						<th><span>Comment made by: {{comment.commentPerson}} </span></th>
														                           	<td class="btn-group">
													                               		<label class="btn btn-primary btn-sm"> <input type="radio" 
													                               			ng-click="showCommentModal($event,candidate.selected)"
													                               			ng-model="candidate.selected" ng-value="comment" 
													                               			id="{{comment}}" name="selected" autocomplete="off" />View
													                                	</label>
													                                </td> 
														                           	
														       					</tr>
														       					<tr ng-if="!maxAppObject.commentList">
														       						<td style="text-align: center;"> No Comments </td>
														       					</tr>
														       				</tbody>
														       			</table>
														       	</div>
														       	</div>
														      </div>
														 </div>
	                   								</td>
	                     					 	</tr>
	                      					</tbody>
	                      				</table>
                      				</div>
					            </div>
					         </td>
					     </tr> 
	                  </tbody> 
	               </table>
	            </div> 
			</div>
	                <ul ng-if="inCtrl.pager.pages.length" class="pagination">
			            <li ng-class="{disabled:inCtrl.pager.currentPage === 1}">
			                    <a ng-click="inCtrl.setPage(1)">First</a>
			             </li>
		                <li ng-class="{disabled:inCtrl.pager.currentPage === 1}">
		                    <a ng-click="inCtrl.setPage(inCtrl.pager.currentPage - 1)">Previous</a>
		                </li>
		                <li ng-repeat="page in inCtrl.pager.pages" ng-class="{active:inCtrl.pager.currentPage === page}">
		                    <a ng-click="inCtrl.setPage(page)">{{page}}</a>
		                </li>                
		                <li ng-class="{disabled:inCtrl.pager.currentPage === inCtrl.pager.totalPages}">
		                    <a ng-click="inCtrl.setPage(inCtrl.pager.currentPage + 1)">Next</a>
		                </li>
		                <li ng-class="{disabled:inCtrl.pager.currentPage === inCtrl.pager.totalPages}">
		                    <a ng-click="inCtrl.setPage(inCtrl.pager.totalPages)">Last</a>
                		</li>
            		</ul>
	       </div>
	     </div>

		<!--  -<div ng-hide="inCtrl.dataLoading" class="preloader"> 
			<div class="bg_load "></div>
			<div class="wrapper">
		    	<div class="inner">
			        <span>L</span>
			        <span>o</span>
			        <span>a</span>
			        <span>d</span>
			        <span>i</span>
			        <span>n</span>
			        <span>g</span>
		    	</div>
			</div>
		</div> 
		<!-- Add Comment Modal -----------> 
	
<div id="popupContainer" >
	<script type="text/ng-template" id="dialog1.tmpl.html">
		<md-dialog>
  			<form name="form"  role="form"  ng-cloak>
    		     <div class="modal-header">
        			<button type="button" class="close" ng-click = "cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" style="text-align:center">Comment</h4>
      			</div>

    			<md-dialog-content>
     				 <div class="md-dialog-content">
        				<div class="modal-body form-group" ng-class="{'has-error': form.comment.$error.required }">
		      				<textarea rows="4" cols="85" name="comment" class="form-control" ng-model="comment" required></textarea>
		      				<span ng-show="form.comment.$error.required " class="help-block" >Comment is required</span>
						</div>
					</div>
    			</md-dialog-content>

    			<md-dialog-actions layout="row">
      				<span flex></span>
					<div class="modal-footer">
     					<button type="button" class="btn btn-default" ng-click = "cancel()" >Close</button>
		
 						<button type="button" class="btn btn-primary" ng-click = "submit(comment)"
			 			ng-disabled="form.$invalid" >Add comment</button>
					</div>
    			</md-dialog-actions>
  			</form>
		</md-dialog>
	</script>
</div>

<div id="popupContainer">
	<script type="text/ng-template" id="showComment.tmpl.html">
		<addUserModal style="width:500px;">
  			<form name="form"  role="form"  ng-cloak>
    		     <div class="modal-header">
        			<button type="button" class="close" ng-click = "cancel()" aria-label="Close"><span style ="aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title">Comment</h4>
      			</div>

    			<md-dialog-content>
     				 <div class="md-dialog-content">
        				
					<p  style="text-align: center;" > Date: {{userComment.commentCreatedDate | date : "dd-MM-y"}} </p>
					<br>
					<p style="text-align: center;" > {{userComment.comment}} </p>
						
					</div>
    			</md-dialog-content>

    			<md-dialog-actions layout="row">
      				<span flex></span>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click = "cancel()" >Ok</button>
					</div>
    			</md-dialog-actions>
  			</form>
		</addUserModal>
	</script>
</div>