<!-- 
Page to add Candidate


 -->
 <div growl></div>
 <div class="col-md-6 col-md-offset-3">
 	<h2> Edit Candidate</h2>
 	  
 	<form name="form" ng-submit="inCtrl.update()" role="form">
 	
 		<div class="form-group" ng-class="{'has-error':form.firstname.$error.required}">
 			<label for="name">First Name<i style="color:red">*</i></label>
 			<input type ="text" name="firstname" id="firstname" 
 			class = "form-control" ng-model="candidate.firstname" disabled  />
 		</div>
 		
 		<div class="form-group" ng-class="{'has-error': form.surname.$error.required }">
 			<label for="name">Last Name<i style="color:red">*</i></label>
 			<input type ="text" name="surname" id="surname" 
 			class ="form-control" ng-model="candidate.surname" disabled />
 		</div>
 		
 		<div class="form-group" ng-class="{'has-error': form.idNo.$invalid }">
 			<label for="ID">ID No<i style="color:red">*</i></label>
 			<input type="text" name="idNo" id="idNo" ng-pattern = "inCtrl.regex" ng-minlength="13" ng-maxlength="13"
 			class = "form-control" ng-model="candidate.idNo" disabled />
 		</div>
 		
 		 <div class="form-group">
 			<label for="eeStatus">EE Status</label>
 			<select name="eeStatus" id="eeStatus" class = "form-control" ng-model="candidate.eeStatus" >
 				<option value="">Select EE Status</option>
 				<option value="Y">Yes</option> 
 				<option value="N">No</option>
 				<option value="F">Foreign National</option>
 			</select>
 		</div>
 		
	 	<div id="application" class="form-group " >
				
			<div class="form-group" ng-class="{'has-error': form.applicationDate.$error.required}">
	 			<label for="date">Date Of Application<i style="color:red">*</i></label>
     			 <md-datepicker name = "applicationDate" id ="applicationDate" 
     			 ng-model="candidate.applicationList.dateConversion" md-placeholder="yyyy-mm-dd" 
     			    ></md-datepicker> 
	 		</div>
	 		
			<div class="form-group">
	 			<label for="agency">Agency Name</label>
	 			<select name="agency" id="agency" ng-options="agency.agencyName for agency in inCtrl.agencies"
	 			 class = "form-control" ng-model="inCtrl.agency">
	 			 <option value="">-- Select Agency name --</option>
				</select>
			</div>
			
			<div class="form-group" ng-class="{'has-error': form.experience.$invalid }">
	 			<label for="experience">Experience</label>
	 			<input type="number" name="experience" id="experience" min = "0" max ="30"
	 			 class = "form-control" ng-model="candidate.applicationList.experience" />
	 			 <span  ng-show="form.experience.$invalid" class="help-block">Invalid experience </span>
	 		</div>
	 			
	 		<div class="form-group"  ng-class="{'has-error': form.currentSalary.$invalid }">
	 			<label for="cSalary">Current Salary</label>
	 			<input type="text" name="currentSalary" id="currentSalary" 
	 			 ng-pattern = "inCtrl.regex" ng-minlength="0" 
	 			class = "form-control" ng-model="candidate.applicationList.currentSalary" />
	 			<span  ng-show="form.currentSalary.$invalid" class="help-block">Invalid current salary </span>
	 		</div>
	 		
	 		<div class="form-group" ng-class="{'has-error': form.expectedSalary.$invalid }">
	 			<label for="eSalary">Expected Salary</label>
	 			<input type="text" name="expectedSalary" id="expectedSalary" 
	 			 ng-pattern = "inCtrl.regex" ng-minlength="0" 
	 			class = "form-control" ng-model="candidate.applicationList.expectedSalary" />
	 			<span  ng-show="form.expectedSalary.$invalid" class="help-block">Invalid expected salary </span>
	 		</div>
	 		
	 		<div class="form-group">
	 			<label for="applicationStatus">Application Status</label>
	 			<select name="applicationStatus" id="applicationStatus" 
	 			class = "form-control" ng-model="candidate.applicationList.applicationStatus" >
 				<option value="">Select Application Status</option>
 				<option value="In progress">In progress</option> 
 				<option value="Made offer - Accepted">Made offer - Accepted</option>
 				<option value="Made offer - Declined">Made offer - Declined</option>
 				<option value="Never pitched">Never pitched</option>
 				<option value="No - 1st Test">No - 1st Test</option>
 				<option value="No - Tech assess">No - Tech assess</option>
 				<option value="No - HR">No - HR</option>
 				<option value="No - Final">No - Final</option>
 				<option value="Not going to see">Not going to see</option>
 				<option value="Not technical enough">Not technical enough</option>
 				<option value="On hold">On hold</option>
 				<option value="Too expensive">Too expensive</option>
 			</select>
	 		</div>
	 		
 			 <div class="form-group">
	 		
	 			 <div id="quafilication" class="form-group" >
			 			<div class="form-group">
				 			<label for="qualificationName">Qualification Name</label>
				 			<select name="qualification" id="qualification" ng-options="qualification.qualificationName for qualification in inCtrl.qualifications"
				 			 class = "form-control" ng-model="inCtrl.qualification">
				 			 <option value="">-- Select Qualification name --</option>
							</select>
						</div>
			
	 			</div>	
 			</div>
 		</div>
 		
 		
 		<div class="form-actions">
 			<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary" >Update</button>
 			<a  ui-sref="home.viewCandidates" class="btn btn-link">Cancel</a>
 		</div>
 	</form>
 </div>


 