<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
	<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
	<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="web.interviewApp.test"/>
	<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.endorsed.dirs=/home/bruce/eaf/software/jacorb/lib
-Djacorb.config.dir=/home/bruce/eaf/software/jacorb
 -Djacorb.home=/home/bruce/eaf/software/jacorb
 -Dorg.omg.CORBA.ORBClass=org.jacorb.orb.ORB
 -Dorg.omg.CORBA.ORBSingletonClass=org.jacorb.orb.ORBSingleton
 -DmoduleName=web.interviewApp.test
 -DconfigurationFileLocation=/home/bruce/eaf/environment/development/config/configuration.properties
 -DfallbackORBid=integration-batch
 -DfallbackConnectionString=mombnfwasdev201.metmom.mmih.biz:10262
 -DeafEnvironmentName=development"/>
	<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
	<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST"/>
	<stringAttribute key="org.testng.eclipse.COMPLIANCE_LEVEL" value="JDK"/>
	<listAttribute key="org.testng.eclipse.GROUP_LIST"/>
	<listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
	<stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
	<listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
		<listEntry value="/home/bruce/eaf/environment/development/develop/web/interviewApp/test/testng.xml"/>
	</listAttribute>
	<intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
