<div class="ng-cloak">
		<div class="generic-container">
	          <div class="panel panel-default">
	                <!-- Default panel contents -->
	              <div class="panel-heading">
	              	<button type="button" class="btn btn-primary"  ng-click="adminCtrl.showModal($event)" >Add User</button>
	              </div>
	              <div class="tablecontainer">
	                  <table class="table table-hover" style="border: 1px solid #818080">
	                      <thead>
	                          <tr style="background-color:#818080; color:#ddd;">
	                              <th style="border: 1px solid #A8A8A8;">Name</th>
	                              <th style="border: 1px solid #A8A8A8;">Sys Roles</th>
	                              
	                              <th height="15%"></th>
	                          </tr>
	                      </thead>
	                      <tbody>
	                          <tr  ng-repeat="user in adminCtrl.users">
	                              <td><span ng-bind="user.username"></span></td>
	                              <td>
	                              		<span ng-if = "user.roles === null" >{{'None'}}</span>
	                              		<span ng-repeat = "role in user.roles">  {{role.role}}</span>
	                              </td>
	                              
	                              <td class="btn-group">
	                               		<label class="btn btn-primary btn-sm"> <input type="radio" 
	                               			ng-model="candidate.selected" ng-value="u" 
	                               			id="{{u}}" name="selected" autocomplete="off" />Delete
	                                	</label>
	                                </td> 
	                                 
	                          </tr>
	                      </tbody>
	                  </table>
	              </div>
	          </div>
	       </div>
	       </div>
<div id="popupContainer">
	<script type="text/ng-template" id="addUser.tmpl.html">
		<addUserModal style="width:500px;">
  			<form name="form"  role="form"  ng-cloak>
    		     <div class="modal-header">
        			<button type="button" class="close" ui-sref="home.users" ui-sref-opts="{reload: true}" ng-click = "cancel()" aria-label="Close"><span style ="aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title">New User</h4>
      			</div>

    			<md-dialog-content>
     				 <div class="md-dialog-content">
        				
						 <div class=" modal-body form-group" ng-class="{'has-error': form.username.$error.required }">
 							<label for="name"> Username<i style="color:red">*</i></label>
 							<input type ="text" name="username" id="username" class="form-control" ng-model="username" required />
 							<span ng-show="form.username.$error.required " class="help-block" >Username is required</span>
 						</div>
						
						 	<div class="modal-body form-group">
 								<label for="role">User Role</label>

								<select name="role" id="role" ng-options="role.role for role in roles"
				 			 		class = "form-control" ng-model="role">
								</select>
 							</div>
						
					</div>
    			</md-dialog-content>

    			<md-dialog-actions layout="row">
      				<span flex></span>
					<div class="modal-footer">
     					<button type="button" class="btn btn-default"
						 ui-sref="home.users" ui-sref-opts="{reload: true}"  ng-click = "cancel()" >Close</button>
		
 						<button type="submit" class="btn btn-primary"  
						ui-sref="home.users" ui-sref-opts="{reload: true}" ng-click = "submit(username,role)"
			 			ng-disabled="form.$invalid" >Add User</button>
					</div>
    			</md-dialog-actions>
  			</form>
		</addUserModal>
	</script>
</div>