<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
  <script src="r.app.js"></script>
  <link data-require="bootstrap-css@*" data-semver="4.0.0-alpha.4" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
  <link data-require="font-awesome@*" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="expandCollapseController">
  <div class="" ng-repeat="place in data">
    <div class="">{{place.state}}
      <button class="btn" ng-click="manageCollapseExpand(place, false)">
        <span ng-class="{'glyphicon glyphicon-minus': place.expanded, 'glyphicon glyphicon-plus': !place.expanded }"></span>
      </button>
    </div>
    <div class="" ng-show="place.expanded">
      <table class="">
        <thead>
          <tr class="">
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{place.value}}</td>
          </tr>
        </tbody>
      </table>
      <div class="" ng-repeat="city in place.city">
        <div class="">{{city.cName}}
          <button class="btn" ng-click="manageCollapseExpand(city, true)">
            <span ng-class="{'glyphicon glyphicon-minus': city.expanded, 'glyphicon glyphicon-plus': !city.expanded }"></span>
          </button>
        </div>
        <div class="" ng-show="city.expanded">
          <table class="">
            <thead>
              <tr class="">
                <th>Population</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{city.pop}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>