.element-type {
	background: #FFFFCC!important;
	border: 1px solid #FFCC00!important;
	color: black!important;
	font-size: 9pt!important;
	padding: 0.2em!important;
	display: none;
	margin-top: 0.2em!important;
	margin-left: 0.2em!important;
	font-family: DINRegular!important;
}

.notopmargin {
	margin-top: 0em!important;
}

.nobottommargin {
	margin-bottom: -1em!important;
}

.noleftmargin {
	margin-left: 0px!important;
}

.examplemenu {
	display: none;
}

.examplemenu label {
	display: block!important;
	width: 100%!important;
	height: 100%!important;
	white-space: nowrap!important;
	cursor: pointer;
}